
exercise01/solutions/part 2/mmul

exercise01/solutions/part 2/mmul2

exercise01/solutions/part 2/mmul12

exercise01/solutions/part 2/mmul1

exercise01/solutions/part 2/mmul

exercise01/solutions/part 2/gmon.out

exercise01/solutions/part 2/mmul1_10
